/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --accent-color: #ff0070;
  --main-title-color: #db00ff;
  --title-color: #ff0070;
  --card-title-color: #000028;
  --card-subtitle-color: #f1b2ce;
  --card-link-accent: #ff0070;
  --decoration-accent: #ff0070;
  --switch-color: #ff0070;
  --switch-hover-color: 255, 0, 112;
  --decoration-visibility: visible;
}

@media (prefers-color-scheme: dark) {
  .theme-auto {
    --bg-image: url(../images/cover-image-dark.png);
    --bg-color: #000028;
    --accent-color: #ff0070;
    --main-title-color: #db00ff;
    --title-color: #ff0070;
    --card-title-color: #000028;
    --card-subtitle-color: #f1b2ce;
    --card-link-accent: #ff0070;
    --decoration-accent: #ff0070;
    --switch-color: #ff0070;
    --switch-hover-color: 255, 0, 112;
    --decoration-visibility: visible;
  }
}
