/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  display: grid;
  justify-content: center;
  gap: 40px;
  max-width: 1024px;
  min-height: 100vh;
  font-family: var(--font-family);
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

@media (width >=768) {
  .page {
    gap: 60px;
  }
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  height: 100vh;
  min-height: 668px;
  padding: 10px;
}

/* реализация уголков. Класс добавляется как дополнительный к блоку родителя */
.angle__decoration {
  position: relative;
}

.angle__decoration::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 24px;
  border-top: 1px solid var(--decoration-accent);
  border-right: 1px solid var(--decoration-accent);
}

.angle__decoration::before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 24px;
  height: 25px;
  border-bottom: 1px solid var(--decoration-accent);
  border-left: 1px solid var(--decoration-accent);
}

.header__rec {
  position: absolute;
  top: 10px;
  right: 8px;
  visibility: var(--decoration-visibility);
  margin-inline-end: 30px;
  color: #ff0070;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.38889;
  text-align: right;
}

.header__rec::after {
  content: "";
  position: absolute;
  top: 8px;
  right: -21px;
  width: 9px;
  height: 9px;
  border-radius: 100%;
  box-shadow: 0 0 4px 2px #ff0070;
  background-color: #ff0070;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 2px 13px;
  color: var(--switch-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  text-align: center;
  text-transform: lowercase;
  background: none;
}

.header__theme-menu-button_active {
  border: 1px solid currentColor;
}

.header__theme-menu-button:hover {
  border: 1px solid rgba(var(--switch-hover-color) 0.4);
  outline: none;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid currentColor;
  outline: none;
}

.header__theme-menu-button:active {
  border-color: currentColor;
  outline: none;
}

.header__title {
  align-self: center;
  color: var(--main-title-color);
  font-family: inherit;
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.825;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__subtitle {
  align-self: center;
  min-width: 355px;
  max-height: min-content;
  color: var(--subtitle-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
}

/* чтобы текст располагался как на макете */
.header__subtitle span {
  display: block;
}

/* Медиазапросы для header */
@media (width >= 768px) {
  .header {
    min-height: 1024px;
    padding: 20px 20px 20px 0;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__subtitle {
    justify-self: right;
    max-width: 364px;
  }

  .angle__decoration::after {
    top: 20px;
    right: 20px;
  }

  .angle__decoration::before {
    bottom: 20px;
    left: 20px;
  }

  .header__rec {
    top: 20px;
    right: 20px;
  }
}

@media (width >= 1024px) {
  .header {
    min-height: 768px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
    margin-right: -20px;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .header__subtitle {
    max-width: 491px;
  }
}

.title-decor {
  background-color: var(--accent-color);
}

.main {
  display: grid;
  gap: 50px;
  padding-inline: 10px;
}

/* общие стили карточек */

.content__section {
  display: grid;
}

.section__title {
  margin-block-end: 20px;
  color: var(--title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
}

.card__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card__title {
  color: var(--card-title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
}

.card__subtitle {
  color: var(--card-subtitle-color);
  font-weight: 300;
  font-size: 18px;
  line-height: 1.3;
}

.card__link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--card-link-accent);
}

.card__link:hover {
  border-bottom: 1px solid var(--card-subtitle-color);
}

.card__link:focus {
  outline: none;
}

.card__link:focus-visible {
  outline: 1px solid var(--card-subtitle-color);
}

.how__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.how__card-title {
  color: var(--card-title-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
}

.gallery {
  gap: 10px;
}

.gallery__title {
  grid-column: 1;
  grid-row: 1;
}

.gallery__image {
  display: block;
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
}

.gallery__item {
  box-sizing: border-box;
  margin: 0;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.footer__title {
  padding: 0;
  color: var(--main-title-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.825;
  text-align: center;
  text-shadow: 2px 2px var(--accent-color);
}

/* медиазапросы основного контента */

@media (width >= 768px) {
  .main {
    gap: 80px;
    padding: 20px;
  }

  .why {
    grid-template-columns: minmax(236px, 315px) minmax(472px, max-content);
    gap: 20px;
  }

  .how {
    grid-template-columns: minmax(236px, 315px) minmax(472px, max-content);
    grid-template-rows: min-content max-content;
    column-gap: 20px;
    
  }

  .how__card-list {
    grid-column: 2;
  }

  .what__title {
    max-width: 236px;
  }

  .gallery {
    grid-template-columns: repeat(3, minmax(229px, 315px));
    grid-template-rows: min-content repeat(3, max-content);
    gap: 20px;
  }

  .gallery__title {
    grid-column: 1 / 4;
    grid-row: 1;
  }

  .gallery__item:nth-child(2) {
    grid-column: 1 / 3;
    grid-row: 2;
  }

  .gallery__item:nth-child(3) {
    grid-column: 3;
    grid-row: 2 / 4;
  }

  .gallery__item:nth-child(4) {
    grid-column: 1;
    grid-row: 3 / 5;
  }

  .gallery__item:nth-child(5) {
    grid-column: 2;
    grid-row: 3;
  }

  .gallery__item:nth-child(6) {
    grid-column: 2 / -1;
    grid-row: 4;
  }
}

@media (width >= 1024px) {
  .what {
    grid-template-rows: max-content;
  }

  .what__title {
    max-width: 315px;
  }

  .what__card-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
